@import url("https://fonts.googleapis.com/css?family=Lora:400,700,900|Roboto+Condensed:400,600,700,900&display=swap");
* {
  /* border:1px solid green; */
  font-size: 12px;
}

body {
  background-color: #0b265e;

  /* height: 300vh; */
}

.my-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.header {
  position: absolute;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: auto;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
}

.date-weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 2rem;
  font-size: 2rem;
}

.weather {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 8rem;
}
.logo-sticky {
  height: 2rem;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#header-sign-in {
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
}

#header-subscribe {
  background-color: #fff;
  color: red;
  font-size: 1.5rem;
}

.header-list {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.header-list a {
  color: black;
  text-decoration: none;
}
.n-icon {
  width: 29px;
  height: 29px;
}

.fa-bars {
  color: #fff;
}
.my-nav {
  background-color: red;
  /* font-size: 2rem; */
}

/* .my-nav-header {
  background-color: rgb(38, 0, 255);
  z-index: 2000;
  height: 6em;
  width: 100%;
  position: absolute;
  top: 0;
} */

.header-logo-sm {
  height: 3rem;
}

.header-logo {
  height: 5.1rem;
}

/* header ul li  {
  display: inline-block;
  background-color: #fff;
  color: black;
  list-style: none;
  width: 100%;
} */

.logo {
  font-size: 2.8rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.toggler {
  color: #fff;
}

.top-story {
  margin-bottom: 1.5rem;
}

.card {
  background-color: #fff;
  border: none;
}

a:hover {
  text-decoration-color: red;
  color: black;
}

a {
  display: block;
  color: black;
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-size: 1.8rem;
  font-weight: 600;
}

.opinion a:hover {
  color: red;
  text-decoration: none;
}

.opinion a {
  font-size: 1.2em;
  font-weight: 700;
}

.opinion {
  border: none;
  border-bottom: #cecece 1px solid;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
}
.opinion img {
  margin-right: 0.5rem;
}

.debate {
  border-top: 5px solid red;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 2rem;
}

.debate .card-img-left {
  width: 10rem;
}

.debate .card-title {
  margin-left: 1rem;
}

.blue-debate {
  border-top: 5px solid dodgerblue;
}

.card-footer img {
  width: 5rem;
  position: relative;
  bottom: 20px;
}

.card-footer {
  margin-top: 2rem;
  border-top: double;
}
.versus {
  background-color: black;
  color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.sponsor a {
  font-size: large;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.5rem;
}
.more-stories {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 0.3px solid #cecece;
  border-bottom: 0.3px solid #cecece;
}

.latest-news {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 0.3px solid #cecece;
  border-bottom: 0.3px solid #cecece;
}

.latest-news a:hover {
  color: red;
  text-decoration: none;
}
.latest-news a {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.newsletter div {
  background-color: #f4f5f6;
}

.separator {
  border-bottom: 0.5px solid #cecece;
}

.magazine-title {
  background-color: red;
  color: white;
  width: auto;
  font-weight: 900;
}

.second-magazine-title {
  color: red;
  font-weight: 900;
  width: auto;
}

.overlay {
  position: relative;
  bottom: 27px;
  background-color: red;
  width: fit-content;
  color: #fff;
}
.card-editor img {
  position: absolute;
}

.overlay-2 {
  position: relative;
  bottom: 33px;
  background-color: hsla(0, 0%, 81%, 0.9);
  width: fit-content;
  color: red;
}

.apix {
  color: red;
  font-size: 2rem;
}

.subscribe {
  background-color: #f4f5f6;
}

.red {
  background-color: red;
  color: #fff;
}
.footer-logo {
  width: 10%;
  height: auto;
}
.footer-logo img {
  width: 100%;
}

.footer-links {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 0.5rem;
}
